@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Consolas';
  src: url('./assets/fonts/CONSOLA.TTF') format('truetype'); /* Adjust the file path and format if needed */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Consolas', monospace;
}